.body {
  height: 100vh;
  width: 100vw;
  background: url("../../../../src/assets/img/bg-pattern.png") repeat;
}

.main-form {
  margin: 100px auto;
  width: 500px;
  height: 650px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  button {
    width: 50%;
    height: 50px;
    border: none;
    background: none;
    &:not([disabled]) {
      background: #8B8B8B;
      color: white;
      box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .form-body {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
  }
}
