.chat-field {
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;

  app-avatar {
    margin-left: 10px;
  }

  .chat-name {
    margin-left: 10px;
  }

}

.chat-field:active,
.chat-field:focus,
.chat-field:hover {
  background-color: #717171;
  color: white;
}
