<div class="chat d-flex flex-column">
  <div class="chat-info d-flex align-items-center">
    <app-avatar class="avatar" [chatName]="currentChat.name"
                [image]="currentChat.avatar?.path"> </app-avatar>
    <span class="chat-name">{{ currentChat.name }}</span>
  </div>

  <div class="message-line" #scrollMe>
    <div *ngFor="let message of messages">
      <app-chat-message [message]="message"></app-chat-message>
    </div>
  </div>

  <div class="message-input d-flex flex-row" *ngIf="canUserSendMessage">
  <textarea [(ngModel)]="message"
            placeholder="Введите сообщение...">
  </textarea>
    <button (click)="send()"><img src="assets/img/send-button.png" alt="send"></button>
  </div>
</div>
