.chat {

  height: 100vh;
  background: url("/assets/img/bg-pattern.png") repeat;

  .chat-info {
    height: 80px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    .avatar {
      margin: 10px;
    }
    .chat-name {
      font-size: 18pt;
    }
  }

  .message-line {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    min-width: 350px;
  }

  .message-input {
    background: white;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    textarea {
      padding: 10px;
      resize: none;
      flex-grow: 1;
      border: none;
      &:focus {
        outline: none;
      }
    }
    button {
      border: none;
      background: none;
      width: 80px;
    }
  }
}
