<div class="sidenav">

  <div class="left-bar">
    <app-avatar class="channel-item"
                [chatName]="'Приватные чаты'"
                [chatUrl]="getPrivateChatUrl()"
                [image]="currentUser?.avatar?.path"
                (click)="onPrivateChatClick()">
    </app-avatar>
    <hr>
    <div class="channel-list">
      <div *ngFor="let channel of channels">
        <app-avatar class="channel-item"
                    [chatName]="channel?.name"
                    [chatUrl]="getChannelUrl(channel.link)"
                    [image]="channel?.avatar?.path"
                    (click)="onChannelClick(channel)">
        </app-avatar>
      </div>

    </div>
    <div class="add-channel">
      <app-avatar [isFromBack]="false"
                  (click)="onAddChannel(content)"
                  [chatName]="'Добавить канал'"
                  [image]="'assets/img/add.png'">

      </app-avatar>
    </div>
  </div>

  <div class="chat-list">
    <app-chat-list
      [currentChannel]="currentChannel"
      [chats]="chats"
      (chatOpen)="onChatOpenEvent($event)">
    </app-chat-list>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-channel">Добавить канал</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('cross click')"></button>
  </div>
  <div class="modal-body">
    <form>

      <div class="flex-grow-1">

        <div class="form-group">
          <label for="channelName">
            Имя канала
          </label>
          <input id="channelName" type="text"
                 name="channelName"
                 #channelName='ngModel'
                 [(ngModel)]="addedChannel.name"
                 class="form-control">
        </div>

        <div class="form-group">
          <label for="aboutChannel">
            О канале
          </label>
          <input id="aboutChannel" type="text"
                 name="aboutChannel"
                 #aboutChannel='ngModel'
                 [(ngModel)]="addedChannel.about"
                 class="form-control">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('add channel')">Добавить</button>
  </div>
</ng-template>
