<div class="sidenav">
  <div class="channel-list">
    <app-avatar class="chat-item" [chatName]="'Приватные чаты'"
                (click)="onPrivateChatClick()">
    </app-avatar>
    <hr>
    <a href="#" (click)="onPublicChatClick()">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <div class="chat-list">
    <app-chat-list *ngIf="chatState === chatTypes.private"
                       [chats]="chats"
                       (chatOpen)="onChatOpen($event)">
    </app-chat-list>
  </div>

</div>
