<div class="profile">
  <h1>Личный кабинет</h1>
  <div class="avatar">
    <img src="" alt="" class="avatar-img">
    <h3 class="avatar-username">Kamron Boturkhonov</h3>
  </div>
  <form>
    <div class="labeled-input">
      <label>Имя:</label><input type="text" name="name">
    </div>
    <div class="labeled-input">
      <label>Логин:</label><input type="text" name="login">
    </div>
    <div class="labeled-input">
      <label>Пароль:</label><input type="text" name="password">
    </div>
    <div class="labeled-input">
      <label>О себе:</label><input type="text" name="about">
    </div>

    <input type="button" value="Отменить">
    <input type="button" value="Сохранить">
  </form>
</div>
