.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: black;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
  }

}
